<appSettings>    
    <add key="UN" value="Tester Comments added in Dont walk by"/>
    <add key="PW" value="Cptpram!1"/>
    <add key="Location" value="UK"/>
    <add key="RegistervechileNo" value="UK1234"/>
  <add key="DEVICE_NAME" value="TelentEmulator"/>
  <add key="TELENT_STAGING_UN" value="telentbee.support@telentbee.co.uk"/>
  <add key="TELENT_STAGING_PW" value="cTADJ14!"/>
	<add key="OrderNo" value="5003147204"/>
    <add key="selectGangid" value="120"/>
    <add key="NRSWANO" value="50025"/>
    <add key="CTNumber" value="CT"/>
    <add key="gatechecksummary" value="AuditgatechecksummaryinBEEMobileapplication"/>
    <add key="name" value="Test Name"/>
    <add key="Dontwalybynameofperson" value="Testername"/>
    <add key="WalkbyMobileNo" value="01234567890"/>
    <add key="parentcompanyvalue" value="CT"/>
    <add key="Tellus" value="Tester Comments added in Dont walk by"/>
    <add key="Describeaction" value="Tester Comments added in describeaction"/>
	<add key="workAddress" value="United Country"/>
	<add key="ExchegeArea" value="Test Exchange Area"/>
	<add key="Jobdescription" value="Test Description"/>
	<add key="JobAddress" value="Test Address"/>
	<add key="Contactnumber" value="65958589652"/>
	<add key="EstimateNo" value="555544433"/>
	<add key="Comment" value="Test Comment"/>
	<add key="JobType" value="Test job"/>
	<add key="ReinstatementType" value="Test Reinstatement"/>
    <add key="HSEQTEST" value="Test"/>
</appSettings>